<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>

<a href="/restaurants/addRestaurant">
  <button class="btn btn-default">Add Restaurant</button>
</a>
<a href="/restaurants/viewRestaurants">
  <button class="btn btn-default">View Restaurants</button>
</a>
<a href="/deals/addDeal">
  <button class="btn btn-default">Add Deal</button>
</a>
<a href="/deals/viewDeals">
  <button class="btn btn-default">View Deals</button>
</a>